body
{
    color: #000000;
    padding: 0px;
}

#showAdBtn {
position: absolute; top: 100px; left: 30px;
  width: 250px;          /* Input eni */
  height: 25px;          /* Input balandligi */
  font-size: 16px;       /* Matn o‘lchami */
  border: 20px solid #0084ff; /* Chegara rangi */
  border-radius: 88px;    /* Yumaloq burchaklar */
  padding: 40px 1px;     /* Ichki bo‘sh joy */
}
